discord:
  token: "YOUR_DISCORD_BOT_TOKEN_HERE"
  channel_id: "YOUR_DISCORD_CHANNEL_ID_HERE"
redeem:
  service: true
  hide_embed: true
  api:
    url: "https://api.thebd2pulse.com/redeem"
    api_key: "YOUR_REDEEM_API_KEY_HERE"
  schedule:
    - "0 8 * * *"
    - "0 18 * * *"
news:
  service: true
  send_content: false
  hide_embed: true
  api:
    url: "https://www.browndust2.com/api/newsData_tw.json"
  schedule:
    - "0 9 * * *"
    - "0 21 * * *"
