discord:
  token: "YOUR_DISCORD_BOT_TOKEN_HERE"
  channels:
    - name: "general"
      id: "YOUR_DISCORD_CHANNEL_ID_HERE"
    - name: "news"
      id: "ANOTHER_CHANNEL_ID_HERE"
redeem:
  service: true
  channel: "general"
  storage_path: "redeem.json"
  hide_embed: false
  api:
    url: "https://api.thebd2pulse.com/redeem"
    api_key: "YOUR_REDEEM_API_KEY_HERE"
  schedule:
    - "0 8 * * *"
    - "0 18 * * *"
news:
  service: true
  channel: "news"
  storage_path: "news.json"
  send_content: false
  hide_embed: false
  api:
    url: "https://www.browndust2.com/api/newsData_tw.json"
  schedule:
    - "0 9 * * *"
    - "0 21 * * *"
